<div>
    <section class="content-header">
        <h1 id="page-title">Nova Consulta</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <form>
                        <div class="box-header with-border">
                            <h3>Informações do paciente</h3>
                            <div class="row">
                                <div class="col-lg-4" >
                                    <label>Nome: </label>
                                    <span id="patient_name">{{patient.name || 'Não informado'}}</span>
                                </div>
                                <div class="col-lg-4">
                                    <label>Gênero adminitrativo: </label>
                                    <span id="patient_genderAdm">{{gendersAdm[patient.genderAdm] || 'Não informado'}}</span>
                                </div>
                                <div class="col-lg-4">
                                    <label>Data/hora de nascimento: </label>
                                    <span id="patient_birthDate">{{patient.birthDate ? (patient.birthDate  | date: 'dd/MM/yyyy - HH:mm') : 'Não informado'}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <label>Estado civil: </label>
                                    <span id="patient_maritalStatus">{{patient.maritalStatus || 'Não informado'}}</span>
                                </div>
                                <div class="col-lg-4">
                                    <label>Raça: </label>
                                    <span id="patient_breed">{{patient.breed || 'Não informado'}}</span>
                                </div>
                                <div class="col-lg-4">
                                    <label>Etnia: </label>
                                    <span id="patient_ethnicGroup">{{patient.ethnicGroup || 'Não informado'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <uib-tabset class="tabs-container">
                                        <uib-tab id="subjective_tab" heading="Subjetivo">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label>Anamnese</label>
                                                        <textarea id="main_complaint" class="form-control"
                                                                rows="6" style="resize: none"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </uib-tab>
                                        <uib-tab id="objective_tab" heading="Objectivo">
                                            <div class="row">
                                                <div class="col-lg-12">

                                                </div>
                                            </div>
                                        </uib-tab>
                                        <uib-tab id="analysis_tab" heading="Avaliação">
                                            <div class="row">
                                                <div class="col-lg-12">

                                                </div>
                                            </div>
                                        </uib-tab>
                                        <uib-tab id="plan_tab" heading="Plano">
                                            <div class="row">
                                                <div class="col-lg-12">

                                                </div>
                                            </div>
                                        </uib-tab>
                                        <uib-tab id="evolution_tab" heading="Evolução">
                                            <div class="row">
                                                <div class="col-lg-12">

                                                </div>
                                            </div>
                                        </uib-tab>
                                    </uib-tabset>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button id="saveButton" type="button" ng-click="save()"
                                                class="btn btn-default">Salvar</button>
                                        <button id="cancelButton" type="button" ng-click="cancel()"
                                                class="btn btn-warning">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>